<div class="container">
  <div class="row">
    <div class="col-12">
      
    </div>
  </div>
  <div class="row">
    <div class="col-12 justify-content-center">
      <div class="card">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">First name</label>
                <input type="text" class="form-control form-control-alternative" id="exampleFormControlInput1">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">last name</label>
                <input type="text" class="form-control form-control-alternative" id="exampleFormControlInput1"
                 >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Birthday</label>
                <input type="date" class="form-control form-control-alternative" id="exampleFormControlInput1"
                 >
              </div>
            </div>
            <div class="col-md-6">
              <label for="">Genre</label> <br>
              <div class="custom-control custom-checkbox">
                <span>
                  <input class="custom-control-input" id="customCheck1" type="checkbox">
                  <label class="custom-control-label" for="customCheck1">Female</label>
                </span>
                <span class="ml-5">
                  <input class="custom-control-input" id="customCheck1" type="checkbox">
                  <label class="custom-control-label" for="customCheck1">Male</label>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Town of Birthday</label>
                <input type="text" class="form-control form-control-alternative" id="exampleFormControlInput1"
                 >
              </div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-info mt-4">Generate code</button>
            </div>
          </div>
        </form>
      </div>
  
    </div>
  </div>
</div>
  